__pycache__
*.pyc
*.pyo
*.egg-info/
/dist/
/build/

# Testing and coverage artifacts
.coverage
.coverage.*
coverage.xml
htmlcov/
pytest.xml
.pytest_cache/

/content/
/results/
/logs/

/.venv/

/demos/onboarding_tutorial/*result*/
/demos/onboarding_tutorial/*logs/
/demos/onboarding_tutorial/*dataset*/
/demos/onboarding_tutorial/*temp*/

/causalab/tasks/**/*results
/causalab/tasks/**/*datasets
/causalab/tasks/**/*logs

# NFS temp files
.nfs*
