__pycache__
*.pyc
*.pyo
*.egg-info/
/dist/
/build/

# Testing and coverage artifacts
.coverage
.coverage.*
coverage.xml
htmlcov/
pytest.xml
.pytest_cache/

/content/
/results/
/logs/

/.venv/

/demos/onboarding_tutorial/*results/
/demos/onboarding_tutorial/*logs/
/demos/onboarding_tutorial/*datasets/

/tasks/**/*results
/tasks/**/*datasets
/tasks/**/*logs
